<configuration>

      <system.webServer>

            <staticContent>

                   <remove fileExtension=".json"/>

                   <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8"/>

                   <remove fileExtension=".unityweb"/>

                   <mimeMap fileExtension=".unityweb" mimeType="application/octet-stream"/>

            </staticContent>

      </system.webServer>

      <system.web>

            <compilation debug="true"/></system.web>

</configuration>